@font-face {
    font-family: myfont;
    src: url(Bubble.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(Stencilia.ttf);
}


body {
    font-family: myfont2;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: black;
    font-size: 30px;
    transition: 2s;
    font-family: myfont;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.mode-toggle {
    padding: 6px 5px;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .sun,
  .moon {
    font-size: 26px;
  }

  .dark-mode {
    background-color: #25364e;
    color: #ecf0f1;
  }


.bitmoji {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.bitmoji-text {
    font-style: myfont;
    font-size: 65px;
    color: #333;
}

.about-me {
    font-family: myfont;
    background-color: rgb(247, 244, 244)
}

.about-me .title {
    font-family:myfont2;
    text-align: center;
    font-size: 50px;
}

.about-me .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about-me .about-content .right .text1 {
    font-size: 30px;
    text-align: justify;
}

.text1 {
    background: #d4ddf6;
    border-radius: 100px;
    padding: 10px 80px;
    margin-left: 50px;
    transition: 5s;
}

.button2,.fonts {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button2:hover,.fonts:hover {
    background-color: #2980b9;
}

.education {
    background-color: rgb(222, 226, 228);
}

.education h1 {
    padding-top: 2%;
    font-size: 60px;
    padding-bottom: 3%;
}

.styled-table {
    position: relative;
    margin: auto;
    width: 70%;
    height: 60%;
    padding: 40px;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: myfont;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 3s;
}

.styled-table:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);

}

.styled-table thead tr {
    background-color: #454343;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.box{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.skills-container {
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width:100%;
}

.skill-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
}

.skill-item:hover {
    background: #f0f0f0;
}

.skill-icon {
    margin-right: 10px;
    color: #3498db;
}
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-right: 20px;
}

.social-icons img {
    width: 60px;
    border-radius: 50%;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #343a40;
    color: #fff;
}

@keyframes slideNav {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideImg {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {

        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.image {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.image-loaded .image {
    opacity: 1;
    transform: translateY(0);
}

.bitmoji-container {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.bitmoji {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.bitmoji-container-loaded .bitmoji-container {
    opacity: 1;
    transform: translateY(0);
}

.bitmoji-loaded .bitmoji {
    opacity: 1;
    transform: translateY(0);
}



body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}
body.dark-mode .header {
    background-color: #333;
    color: #fff;
}

body.dark-mode .nav-links ul li a {
    color: #fff;
}

body.dark-mode .nav-links ul li::after {
    background: #fff;
}

body.dark-mode .bitmoji-text {
    color: #fff;
}

body.dark-mode .about-me {
    background-color: #333;
    color: #fff;
}

body.dark-mode .about-me .title::before {
    background: #f44336;
}

body.dark-mode .text1 {
    background: #394240;
    color: #fff;
}

body.dark-mode .education {
    background-color: #2c2c2c;
    color: #fff;
}

body.dark-mode .styled-table {
    background-color: #2c2c2c;
    color: #fff;
}

body.dark-mode .styled-table thead tr {
    background-color: #454545;
    color: #fff;
}

body.dark-mode .styled-table tbody tr {
    border-bottom: 1px solid #555;
}

body.dark-mode .skills-container {
    background-color: #333;
    color: #fff;
}

body.dark-mode .skill-item {
    background: #282828;
    color: #fff;
}

body.dark-mode .social-icons img {
    filter: invert(1);
}

body.dark-mode .footer {
    background-color: #282828;
    color: #fff;
}

body.dark-mode .about-me .title{
    color:rgb(187, 132, 132);
}

